################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular-monorepo/.vscode
/Server/.vs
/Server/Server/bin/Debug/net8.0
/Server/Server/obj
